.head{
    background-color: #BDB2FF;
    height: 5rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.ArtImg{
    padding-bottom: 2rem;
    position: relative;
    /* left: 17%; */
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    /* text-align: center; */
    margin-bottom: 2em;;
    
}

.ArtImg img{
    object-fit: cover;
    width: 100%;
    height: auto;
    margin-top: 0;
}


.pIndividual1 img{
    border-radius: 1.5em;
    width: 150px;
    height: auto;
    margin-top: 0%;
    
}

.pIndividual1{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    
    padding: 1em;
   
}

.cardcom{
    /* background-color:#BDB2FF;   */
    background-color: #E9C4FF;
    border-radius: 1.5em;
    display: flex;
    width: 79.5em;
    flex-direction: row;
    justify-content: space-around;
    justify-self: center;
}

.cardInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    
    /* background-color: aqua;
    border-radius: 5%; */
    
   
}
.cardInfo1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin: 1em;
    padding: 1em;
    /* background-color:#F8EDEB; */
    background-color: #BDB2FF;
    border-radius: 10%;
    height: 16em;

}
.descript{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin: 1em;
    padding: 2em;
    /* background-color:#F8EDEB; */
    background-color: #BDB2FF;
    border-radius: 25px;
    margin-top: 4em;
}

.eliminar{
    margin-top: 2em;
}


#productos-list{
    background-color:#BDB2FF;
}

#contenido-tabs{
    display: flex;
    align-items: flex-start;
}


.navcon a{
    color: black;
    font-size: 17px;
}

.card_artesanosAdmin{
    justify-self: center;
    align-self: center;
}

.ap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 15rem;
}

.ap p{
    font-size: 17px;
}

.completo{
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 2rem
}

.modBut{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background-color: #BDB2FF;
    width: 2.5rem;
    height: 2.5rem;
    /* margin-bottom: 1.5em; */
}

#eliminar-btn{
    align-self: flex-end;
    border-radius: .7rem ;
    width: 96px;
    height: 38.4px;

}

#artesano{
    display: flex;
    flex-direction: column;
    height: 40em;
    align-items: center;
    justify-content: center; 
    padding-top: 4rem; 
    gap: 4em;
    /* cmabios desde aqui */
    background-color: #F8EDEB;
    border-radius: 40px;
    padding: 2em;  
    margin-left: 13rem; 
}
.artesano1{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: 2em;

}

.infoArtesano{
    justify-content: center;
    align-items: center;
    background-color: #F8EDEB;
    border-radius: 1rem;
}

.subInfo{
    padding: 1rem;
}

.infoArtesano button{
    border-bottom: black;
    border-width: .7rem;
    font-weight: bolder;
}

.ArteMenu{
    padding-top: 2rem;
}

.cardInfo h5{
    font-size: 17px;
    justify-self: center;
}

.todo{
    display: block;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    padding-top: 4rem;
    height: 50rem;
    
}

.card-completo{
    display: flex;
    justify-content: flex-start;
    background-color: #FAF4F4;
    border-radius: 5px;
    margin-top: 6rem;
    margin-right: 4rem;

}
#artesano h5{
    font-size: 17px;
    
}

.btn-guardar {
    border-radius: 5px;
    background-color: #BDB2FF;
}

.bcrear{
    font-size: 17px;
}

.modal-content{
    gap: 2em;
}

.modal-body{
    gap: 1rem;
}
 
 /*(tabletas and telefonos largos, 600px and up) */
 @media only screen and (max-width: 769px) {  
 
    .cardcom{
        background-color:#BDB2FF;  
        border-radius: 1.5em;
        display: flex;
        width: 40.5em;
        flex-direction: row;
        justify-content: space-around;
        justify-self: center;
        align-items: center;
        gap: 1em;
    }  
    .cardInfo h5{
        font-size: 12px;
        justify-items: center;
    }
    .descript p{
        font-size: 13px;
        padding: 1em;
    }
    #eliminar-btn{
        align-self: flex-end;
        border-radius: .7rem ;
        object-fit: cover;
        width: 100%;
        height: 25px;
    }
    .pIndividual1{
        padding-top: 2em;
    }
    #artesano{
        display: flex;
        flex-direction: column;
        height: 40em;
        align-items: center;
        justify-content: center; 
        padding-top: 4rem; 
        gap: 2em;
        /* cmabios desde aqui */
        background-color: #F8EDEB;
        border-radius: 40px;
        padding: 2em;  
        margin-left: 6rem; 
    }  
 
 }

 /* (telefonos, 600px and down) */
@media only screen and (max-width: 480px) {  

    .cardcom{
        background-color:#BDB2FF;  
        border-radius: 1.5em;
        display: flex;
        width: 28.5em;
        flex-direction: column;
        justify-content: space-around;
        justify-self: center;
        align-items: center;
        gap: 1em;
    }  
    .cardInfo h5{
        font-size: 12px;
    }
    .descript p{
        font-size: 13px;
        padding: 2em;
    }
    #eliminar-btn{
        align-self: flex-end;
        border-radius: .7rem ;
        object-fit: cover;
        width: 100%;
        height: 30px;
    }
    .pIndividual1{
        padding-top: 2em;
    }
    #artesano{
        display: flex;
        flex-direction: column;
        height: 40em;
        align-items: center;
        justify-content: center; 
        padding-top: 4rem; 
        gap: 4em;
        /* cmabios desde aqui */
        background-color: #F8EDEB;
        border-radius: 40px;
        padding: 2em;  
        margin-left: 6rem; 
    }

    .card-completo{
        display: flex;
        justify-content: flex-start;
        background-color: #FAF4F4;
        border-radius: 5px;
        margin-top: 6rem;
        margin-right: 1rem;
    
    }
    
 
   }
 

 