.card-container{
    display:flex;
    /*width: 100%;*/
    /*height: auto;*/
    background: #DDD9F5;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, .2);
    justify-content: center;
    /*justify-content: space-around;*/
    
    /* margin-top: 40em; */
}

/* .todo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}  */

.description.social-btns-artesanos a{
    display: inline-block;
    padding: 0 15px;
    color: purple;
}

.social-btns-artesanos{
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
    gap: 15px;
}
.social-btns-artesanos a{
    padding-top: 3px;
    /* background-color: rgb(187, 187, 187);
    border: 2px solid rgb(187, 187, 187);  */
}
.social-btns-artesanos img{
    padding-top: 3px;
    /* background-color: rgb(187, 187, 187);
    border: 2px solid rgb(187, 187, 187);  */
    border-radius: 50%;
    width: 6em;
    height: 6em;
}

.social-btns-artesanos:hover .imagen a {-webkit-transform:scale(1.3);transform:scale(1.3);}
.contenedor {overflow:hidden;}


#button-trabajos{
    font: var(--textTitulos);
    font-size: 1.8em;
    background-color: var(--colorMoradoNav);
    border-color: var(--colorMoradoNav);
    border-radius: 3rem;
    width: 10em;
    height: 3em;
    
}

.descriptionArtesano{
    display: flex;
    /* margin-left: 2vh; */
    flex-direction: column; 
    /*align-items:center;*/
    gap: 2.5rem;
}
.descriptionArtesano h2{
    font-size: 35px;
}

.descriptionArtesano h4{
    font-size: 19px;
}

.descriptionArtesano p{
    text-align: center;
    font-size: 3em;
}

#botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#infoArtesano{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    /*justify-content: center;*/
    align-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    
}

.ImgArtesano{
    padding-top: 2em;
    display: flex;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.ImgArtesano img{
    /*display: block;*/
    border-radius: 20%;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .06);
    margin: 3em 3em 3em 3em;
}
.ImgArtesano a{
    position: relative;
    display: block;
}

.header img{
    border-radius: 20%;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .06);
    margin: 3em 3em;
}

.ImgArtesano a:hover img{
    box-shadow: 0 0 0 12px rgba(0, 0, 0, .1);
}


/*************************
MEDIA 
*************************/
@media only screen and (max-width: 769px) { 
    .descriptionArtesano h2{
        font-size: 3em;
    }
    
    .descriptionArtesano h4{
        font-size: 19px;
    }
    
    .descriptionArtesano p{
        font-size: 1.3em;
        padding: 0 1em;
        margin: 0 3em;
    }
}