/* Carrito Pedidos */

#pedidosCarDiv{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.carritoCompras_tituloPedidos h1{
    display: inline;
    font-size: 5em;
    font-weight: 500;
    margin-top: 1em;
    
}

.elementoPedido{
    display: flex;
    flex-direction: row;
    border-radius: 3%;
}

.elementoPedido img{
    width: 15em;
    height: 15em;
    margin: 2em;
}

.elementoTexPedido h3{
    margin-top: 1em;
    font-size: 2em;
}

/* Carrito titulo  */
.carritoCompras{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2em;
}


.carritoCompras_titulo h1{
    display: inline;
    font-size: 6em;
    font-weight: 500;
    font-family: MiFuentePersonal;
    src: url("/fuentes/ropest/Ropest_PERSONAL_USE_ONLY.ttf") format("opentype");
}


/*Separacio carrito y vacio o tarjetas*/
.sepCarritoCompras{
    width: 80%;
    height: 0.2em;
    background-color: #867FB3;
    margin: 0;
}

/* Contenedor para poner vacio o las tarjetas */

#contenidoCarritoCompras{
    margin: 2em 0 0 5em;
}


/* Estilos para cuando el carrito esta vacio */
.vacioCarritoCompras{
    display: flex;
    flex-direction: column;
    margin-left: 0em;
    margin-right: 0em;
}


.vacioCarritoCompras a{
    margin-top: 2em;
    justify-content: center;
}

.tristeCarrito{
    width: 2em;
    /* height: 2em; */
}

/*div donde colocamos la tabla*/
.elementoCarritoCompras{
    display: block;
    margin-left: 3em;
}


/* Estilos de la tabla para meter las tarjetas aqui no esta vacio el carrito */

table#tablaCarritoCompras{
    width: 100%;
    border-collapse: collapse;
}

table#tablaCarritoCompras th,
table#tablaCarritoCompras td {
  padding: 0.5em;
  margin: 2em;
  font-size: 1.8em;
}

table#tablaCarritoCompras thead, table#tablaCarritoCompras tbody{
    border-bottom: 0.2em solid #867FB3;
}


table#cart td {
  border: 1px solid;
}

tr.sepCarritoComprasTr{
    margin-left: 3em;
}


td.imagenCarrito img{
    width: 10em;
    height: 10em;
    margin-left: 3em;
}

.precioCarrito{
    margin: 0 3em;
}

.cantidad{
    display: flex;
    flex-direction: row;
    padding: 2em;
    margin: 2em 0;
}

.cantidad p{
    margin: auto;
    padding: 0 1em;
    font-size: 1em;
}

.cantidad button{
    height: 2em;
    background-color: #BDB2FF;
    color: #000;
}

.cantidad button:hover{
    background-color: #6e66a0;
    color: #fff;
    font-weight: 700;
    border: 0.1em solid #000;
    transition-duration: 0.5s;
}


.carritoEliminar button{
    background-color: #aca2a4 ;
}

.carritoEliminar button:hover{
    background-color: #dc3545 ;
}

.carritoEliminar button img{
    width: 2em;
    margin: 0.5em;
}

/* Tarjeta de total de la compra */

.cardTotalCarrito{
    display: flex;
    justify-content: flex-end;
}

.totalCarrito{
    text-align: left;
    width: 30rem;
    margin: 1em 0 3em 0;
}

.totalCarrito .card-header{
    font-size: 1.8em;
    font-weight: 500;
}

#totalCarrito{
    margin: 1em 0;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}
.renglonCarrito{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
    margin: 1em 0;  
}

.btnFinalizar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


/*-----------------------------------------------------------------
 ||  modeloResponsivo        
  -----------------------------------------------------------------*/

/* ipad md */
@media only screen and (max-width: 769px) { 
    
    .elementoCarritoCompras{
        margin: 0;
        margin-left: 0em;
    }
    
    .elementoCarritoCompras{
        margin: 0em;
    }
    
    .carritoCompras_titulo h1{
        margin-left: 1em;
    }

    td.imagenCarrito img{
        margin-left: 0em;
    }
    
    
    table#tablaCarritoCompras th,
    table#tablaCarritoCompras td {
    margin: 0em;
    
    }

  
}

/* motoG4 sm */
@media only screen and (max-width: 480px) { 
   
    .carritoCompras_titulo h1{
        margin-left: 0.5em;
    }

    .sepCarritoCompras{
        width: 100%;
    }

    .divTotal{
        margin-left: -10em;
    }
}