.contenedorEquipo{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
        
}



.contenedorEquipo p{

    text-align: justify;
    font-size: 15px;
}

.backgroundEquipo{
    background-color:#FAF4F4;
    border-color:#FAF4F4;
}

/*-----------------------------------------------------------------
 ||  texto de las cards     
  -----------------------------------------------------------------*/
.card-body{    
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.card-body h5{

    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

/*-----------------------------------------------------------------
 ||  Cards individuales     
  -----------------------------------------------------------------*/
.equipo{
    background-color: #e9c4ff;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    padding: 2rem;
    border-radius: 25px;
}

.equipo:hover{

    box-shadow: 5px 5px 20px rgba(0, 0, 0, 4);
    transform: translateY(-3%);
} 



.equipo1{

    display: flex;
    flex-direction: row-reverse;
    background-color: #e9c4ff;
    background-color: #e9c4ff;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    padding: 2rem;
    border-radius: 25px;
}

.equipo1:hover{

    box-shadow: 5px 5px 20px rgba(0, 0, 0, 4);
    transform: translateY(-3%);
} 

.fotoEquipo img{
    display: flex;
    justify-content: center;
    margin: 2em;
    width: 200px;
    height: 250px;
    padding-right: 1rem;
    /* margin: 10px; */
}

/*-----------------------------------------------------------------
 ||  iconos redes de contacto de cada miembro del equipo
  -----------------------------------------------------------------*/

.iconosredesequipo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    gap: 16px;
}

#iconoequipo{
    width: 40px;
    height: 40px;
}

#descarga{
    font: var(--textTitulos);
    font-size: 1.8em;
    text-align: center;
    background-color:#ceb7bc;
    border-color:#ceb7bc;
    border-radius: 3px;
    width: 160px;
    height: 32px;
    color: black;
}

.btnCV{
    margin-top: 1rem;
    
}

/*-----------------------------------------------------------------
 ||  modeloResponsivo        
  -----------------------------------------------------------------*/

@media only screen and (max-width: 480px) { 

    .fotoEquipo{
        
        text-align: center;
    }

    
    .card-body h5{

        text-align: center;
        font-size: 20px;
        padding-bottom: 1px;
    }

    .card-body p{

        text-align: justify;
        
    }
}

@media only screen and (max-width: 540px) { 

    .fotoEquipo{
        
        text-align: center;
    }

    
    .card-body h5{

        text-align: center;
        font-size: 20px;
        padding-bottom: 1px;
    }

    .card-body p{

        text-align: justify;
        
    }

}

@media only screen and (max-width: 280px){ 

    .fotoEquipo{
        
        text-align: center;
    }

    
    .card-body h5{

        text-align: center;
        font-size: 20px;
        padding-bottom: 1px;
    }

    .card-body p{

        text-align: justify;
        
    }
}


