.contenedorEquipo{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedorEquipo p{

    text-align: justify;
}

/*-----------------------------------------------------------------
 ||  texto de las cards     
  -----------------------------------------------------------------*/
.card-body{    
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    font-weight: bolder;
}

/*-----------------------------------------------------------------
 ||  Cards individuales     
  -----------------------------------------------------------------*/
.equipo{
    background-color: #e9c4ff;
}

.equipo1{

    display: flex;
    flex-direction: row-reverse;
    background-color: #e9c4ff;
}

.equipo1 img{

    margin:auto;
}
.fotoEquipo img{

    width: 200px;
    height: 250px;
    margin: 10px;
}

/*-----------------------------------------------------------------
 ||  iconos redes de contacto de cada miembro del equipo
  -----------------------------------------------------------------*/

.iconosredesequipo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#iconoequipo{
    width: 30px;
    height: 30px;
}

#descarga{
    font: var(--textTitulos);
    font-size: 1.8em;
    text-align: center;
    background-color:#ceb7bc;
    border-color:#ceb7bc;
    border-radius: 3px;
    width: 10em;
    height: 2em;
    color: black;
}




