/* body{
    font-size: 10px;
}
 */

 footer{
    background-color: #867FB3;
}

 /*-----------------------------------------------------------------
 ||  seccion enlaces       
  -----------------------------------------------------------------*/


.seccion{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}

.seccion-lista{
    list-style: none;
}

.seccion-lista_elemento{
    margin: 1em 0;
}

.seccion-lista_elemento a{
    text-decoration: none;
    font: 500 1.5vw 'Montserrat', sans-serif;
    color: #fff;
    padding: 0.5vw 0.2vw;
    border-radius: 0.5em;
}

.seccion-lista_elemento a:hover{
    background-color: #8d87b4;
    color: black;
    text-decoration: none;
}


/*-----------------------------------------------------------------
 ||  seccion logo        
 -----------------------------------------------------------------*/

.logo{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.logo-img{
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.logo-img img{
    width: 5em;
}

.logo-nombre h2{
    font: 500 1.5vw 'Montserrat', sans-serif;
    color: #fff;
    padding-bottom: 0.5em;
    border-bottom: 0.2em solid #fff;
    text-align: center;
}

.logo-social{
    margin-top: 1.5em;
    padding: 0.5em 2em 4em 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-social_btn{
    width: 2vw;
}


/*-----------------------------------------------------------------
 ||  agradecimientos        
 -----------------------------------------------------------------*/


.agradecimiento{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4em;
}

.agradecimiento h5{
    font: 500 1.5vw 'Montserrat', sans-serif;
    font-size: 1.5vw;
    line-height: 1.5em;
    /* font-size: 1em; */
    color: white;
}

.agradecimiento h5 > a {
    font-size: 1.5vw;
    line-height: 1.5em;
    color: white;
}


/*-----------------------------------------------------------------
 ||  modeloResponsivo        
  -----------------------------------------------------------------*/

/* ipad md */
@media only screen and (max-width: 769px) { 
    
    .seccion{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1vw 0;
        padding: 1vw 0;
    }
    
    .seccion-lista{
        list-style: none;
        padding: 2vw 0;
        margin: 3vw;
    }

    .seccion-lista_elemento a{
        text-decoration: none;
        font: 500 3vw 'Montserrat', sans-serif;
        padding: 2vw 1vw;
        border-radius: 0.5em;
    }
    
    .seccion-lista_elemento a:hover{
        background-color: #8d87b4;
        color: black;
    }


    .logo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 3vw 0;
        padding: 0 3vw ;    
    }
    
    
    .logo-img{
        display: flex;
        justify-content: center;
        padding-right: 2em;
    }
    
    .logo-img img{
        width: 15vw;
    }
    
    .logo-nombre h2{
        font: 500 2.5vw 'Montserrat', sans-serif;
        color: #fff;
        border-bottom: 0.2em solid #fff;
        text-align: center;
    }
    
    .logo-social{
        display: flex;
        flex-direction: row;
        gap: 4vw;
    }
    
    .logo-social_btn{
        width: 5vw;
    }
    
    .agradecimiento{
        display: flex;
        justify-content: center;
        align-items: center;    
        padding: 5vw 0;
    }

    .agradecimiento h5{
        font: 500 3vw 'Montserrat', sans-serif;      
        line-height: 4.5vw;
        color: white;
    }

    .agradecimiento h5 > a {
        font-size: 3vw;
        line-height: 2vw;
        color: white;
    }
}


/* motoG4 sm */
@media only screen and (max-width: 480px) { 
     
    .seccion{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .seccion-lista{
        list-style: none;
        padding: 2vw 0;
        margin: 3vw;
    }

    .seccion-lista_elemento a{
        text-decoration: none;
        font: 500 4.5vw 'Montserrat', sans-serif;
        padding: 2vw 1vw;
        border-radius: 0.5em;
    }
    
    .seccion-lista_elemento a:hover{
        background-color: #8d87b4;
        color: black;
    }


    .logo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1vw 0;
        padding: 0 1vw ;    
    }
    
    
    .logo-img{
        display: flex;
        justify-content: center;
        padding-right: 5vw;
    }
    
    .logo-img img{
        width: 20vw;
    }
    
    .logo-nombre h2{
        font: 500 5vw 'Montserrat', sans-serif;
        color: #fff;
        border-bottom: 0.2em solid #fff;
        text-align: center;
        margin: 0 2vw;
    }
    
    .logo-social{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4vw;
        margin-top: 15vw;
    }
    
    .logo-social_btn{
        width: 5vw;
    }
    
    .agradecimiento{
        display: flex;
        justify-content: center;
        align-items: center;    
        padding: 5vw 0;
    }

    .agradecimiento h5{
        font: 500 5vw 'Montserrat', sans-serif;      
        line-height: 7vw;
        color: white;
    }

    .agradecimiento h5 > a {
        font-size: 5vw;
        line-height: 7vw;
        color: white;
    }
}
