footer{
    background-color: var(--colorMoradoFoo);
}

#nonePoint{
    list-style-type: none;
}


.links{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.menuItem a {
    
    color: #fff;
    text-align: center;
    padding: 1.0em 0.8em;
    text-decoration: none;
    width: 5em;
    height: 2em;
    border-radius: 0.7em;
    font: var(--textFooter);
}

.menuItem{
    /* border-top: 40px;
    border-bottom: 40px; */
    border: 4em 0;
    margin: 2em 0;
    /* margin-top: 20px;
    margin-bottom: 20px; */
}

.menuItem a:hover{
    background-color: var(--colorMoradoFooHover);
    color: black;
    font: var(--textFooter); 
}

.logo{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img{
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.img-logo{
    width: 10.5em;
}

.btn-social{
    padding: 1em;
    width: 4em;
}

.social{
    padding: 0.5em 2em 4em 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.6em;
}

.button-bar{
    background: white;
    width: 100%;
    height: 5px;
    border: white;
}


.lineWhite{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lineWhite h2{
    font: var(--textFooter);
    font-size: 2.2em;
    color: #fff;
}
.thanks{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4em;
}

.thanks a{
    font-size: 1em;
    line-height: 1.5em;
    /* font-size: 1em; */
    color: white;
}

.thanks h5{
    font: var(--textFooter);
    font-size: 1.5em;
    line-height: 1.5em;
    /* font-size: 1em; */
    color: white;
}
    
