body{
    background-color:#E5E5E5;
}

.fraseTituloUser {
  
    text-align: center;
    padding-top: 20px;
    font-family: 'Petemoss', cursive;
    font-size: 60px;   
 }

 
.fraseTituloUser h4{
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Petemoss', cursive; */
    font-weight: bolder;
    color: transparent;
    background: linear-gradient(to left, #ff5bf9, #7B68EE, #a47fcd, #08c0ff, #ff5bf9);    
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    animation: color 3s linear infinite;
    background-size: 500%;
}

.FormLogUser{
    margin-top:0.5em;
    margin-bottom:10em;
    background-color: hsl(32, 31%, 89%);
    border-style: solid;
    border-color: #979797;
    padding: 0%;
    height: 53em;
    width: 45em;
    margin-right: auto;
    margin-left: auto;
}

.headForm2User{
    /* background-color: #CCCACA; */
    background-image: url(../img/fnI.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    border-radius: 18px 18px 0 0;
    margin-bottom: 60px;
    height: 17em;
    padding-top: 3em;   
}

.headForm2User img{
    color: purple;
}

.ImageLogUser{
    border-radius: 50%;
    width: 110px;
    height: 110px;
    margin:auto;
    display:block;
    background-color: white;
    border-color: rgb(129, 129, 129);
    border-style: solid;
    box-shadow: 2px 3px 5px rgb(71, 71, 71)
    
}

.padingLogUser{
    margin-left: 50px;
    margin-right: 50px;
}

.BotonLogUser{
    border-style: solid;
    border-color: rgb(138, 138, 138);
    background-color: #BDB2FF;
    border-radius: 5px;
    width: 190px;
    height: 45px;
    font-family: 'Monserrat', sans-serif;
    margin-bottom: 2.5em;
    margin-top: 3em;;
    font: var(--textFooter);
    color: black;
    box-shadow: 2px 3px 5px rgb(71, 71, 71)
}

.BotonLogUser:hover{
    background-color: #6e66a0;
}


.padingLogUser input{
    height:3em;
    margin-bottom: 1.5em;
    font: var(--textFooter);
    /* textFootre */
}

.especialPasLogUser, .especialPasLogUser input{
    margin-bottom: 0;
    padding-bottom: 0;
}

.botonesUser{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5em;
}

.BotonConLogUser{
    border-style: solid;
    border-color: rgb(138, 138, 138);
    border-radius: 5px;
    background-color: #BDB2FF;
    width: 200px;
    height: 30px;
    font-family: 'Monserrat', sans-serif; 
    font-size: 1.3em;
    font-weight: 700;
    color: black;
    margin-top: 0.5em;
    margin-bottom: 4em;   
    box-shadow: 2px 3px 5px rgb(71, 71, 71)
}



@media only screen and (max-width: 480px) { 
    .BotonConLogUser{
        height: 50px;
    }
    .FormLogUser{
        width: 29em;
    }
    .fraseTituloUser h4{

        padding-bottom: 20px;
        font-size: 40px;

    }
}