#main{
    /*background-color: rgba(252, 206, 214, 0.281);*/
    display: flex;
    justify-content: center;
} 

.carousel-item img{

    padding-top:10px;
    padding-left: 90px;
    padding-right: 90px; 
}

.frase {
  
   text-align: center;
   padding-top: 20px;
   font-family: 'Petemoss', cursive;
   font-size: 60px;   
}

#promo{
    text-align: center;
    font-family: 'Petemoss', cursive;
    font-size: 80px;
}

.container{

    display: flex;
    justify-content:center;
}

#personal{

    border-radius: 1.5em;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

#personal:hover{

    box-shadow: 5px 5px 20px rgba(0, 0, 0, 4);
    transform: translateY(-3%);
}


@media only screen and (max-width: 480px) { 

    #titulo{
        width: 100px;
        height: 20px ;
        
    }
    #fin{
        width:50px ;
        height: 20px;
        
    }
}
#titulo {
    padding-left:300px;
}
#fin {
    padding-left:600px;
}
.boton a{
    font: var(--textTitulos);
    font-size: 1.8em;
    background-color: var(--colorMoradoNav);
    border-color: var(--colorMoradoNav);
    border-radius: 3px;
    width: 10em;
    height: 2em;
    color: black;
    padding-top: 6px;
}
.boton{

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.final img{

    width: 200px;
    height: 200px;
}



.final{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;

}

.finalim{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 20px;
}
.container2{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container2 img{

    width: 200px;
    height: 300px;
}