#main{
    /*background-color: rgba(252, 206, 214, 0.281);*/
    display: flex;
    justify-content: center;
} 


.ilogo{
    padding-top: 8em;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.logomain{
    width: 35em;
    height: auto;
}

.main-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    gap: 5em;
}

.infoa{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10em; 
    padding-bottom: 5em;
}

#boton{ 
    background-color: #A0C4FF;  
    border-color: #A0C4FF; 
    width: 10em;
    height: 2.5em;
    font-weight: bold;
    font-size: 1.75em;
}
.description{
    padding-bottom: 2em;
}
.description p{
    font-weight:300;
     font-size: 1.75em;
     background-color: none;
}

.rectangulo{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    width: 1120px;
    height: 544px;
    padding: 4em;
    margin-top: 1em;
    margin-bottom: 4em;
    background:royalblue;
    border-radius: 3.5em;
}



.imag{

    width: 35em;
    height: auto;

}




.noAnimacion{
    animation-name: none;
    animation-duration: 0;
}

body{
    margin: 0px;
   }
@media(max-width:480px){
    .logomain {
    width: 250px;
    height: 240px;
    
    }
    /* .infoa {
      width: 250px;
      height: 240px;  
    } */
    .rectangulo{
        display: block;
        border: 0;
        width: 350px;
        height: auto; 
    }
}

.carrusel {

    background-color:none;
}

#coraline{

    background-image: url(../img/muñequitos/coraline.jpg);
}

#arnold{
    background-image: url(../img/muñequitos/fonharyhel.jpg);
    background-repeat: no-repeat;    
}

#carlitos{

    background-image: url(../img/muñequitos/fondoCarl.jpg);
}

#Harry{

    background-image: url(../img/muñequitos/fondohp.jpg);
    
}

#estambres{
  background-image: url(../img/muñequitos/fondoNav.jpg);
}

.frase img{
   background-color: black;
   display: flex;
   justify-content: center;

    
}
