#main{
    /*background-color: rgba(252, 206, 214, 0.281);*/
    display: flex;
    justify-content: center;
} 

.carousel-item {

    margin: 20px;

    padding-top:10px;
    padding-left: 90px;
    padding-right: 90px;  
}

.frase {
  
   text-align: center;
   padding-top: 20px;
   font-family: 'Petemoss', cursive;
   font-size: 60px;   
}


.boton{

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.final img{

    width: 200px;
    height: 200px;
}



.final{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;

}

.finalim{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 20px;
}

.boton button{
    font: var(--textTitulos);
    font-size: 1.8em;
    background-color: var(--colorMoradoNav);
    border-color: var(--colorMoradoNav);
    border-radius: 3px;
    width: 10em;
    height: 2em;
    color: black;
    padding-top: 6px;
}


#promo{
    text-align: center;
    font-family: 'Petemoss', cursive;
    font-size: 80px;
}



#personal{

    border-radius: 1.5em;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

#personal:hover{

    box-shadow: 5px 5px 20px rgba(0, 0, 0, 4);
    transform: translateY(-3%);
}

/*---------------------------------------------------------------
 ||  modeloResponsivo        
  -----------------------------------------------------------------*/

@media only screen and (max-width: 480px) { 

    .carousel-item {

        margin: 20px;
    
        padding-top:10px;
        padding-left: 20px;
        padding-right: 20px;  
    }
  
    .frase2 h4{

    font-size: 5px;
    padding-top: 20px;
   }

    .frase h4{

        padding-bottom: 20px;
        font-size: 5px;

    }

    .container2{
        display: flex;
        justify-content: center;
        align-items: center;
    }

} 

@media only screen and (max-width: 769px) { 

    .frase2 img{
     width: 300px;
     height: auto;
     padding-top: 20px;
    }
 
     .frase img{
 
         padding-bottom: 20px;
         width: 600px;
         height: auto;
 
     }
 
     .container2{
         display: flex;
         justify-content: center;
         align-items: center;
         padding: 10px;
     }
 
 } 

 /* ipad pro */
@media only screen 
and (min-width: 1024px) 
and (max-height: 1366px)  {

    .frase img{
 
        padding-bottom: 20px;
        width: 800px;
        height: auto;

    }

  
}



.frase h4{

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Petemoss', cursive;
    font-weight: bolder;
    color: transparent;
    background: linear-gradient(to left, #ff5bf9, #7B68EE, #a47fcd, #08c0ff, #ff5bf9);    
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    animation: color 3s linear infinite;
    background-size: 500%;
}

.frase2 h4{

    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    font-family: 'Petemoss', cursive;
    font-weight: bolder;
    color: transparent;
    background: linear-gradient(to left, #ff5bf9, #7B68EE, #a47fcd, #08c0ff, #ff5bf9);    
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    animation: color 3s linear infinite;
    background-size: 500%;
}


.boton a{
    font: var(--textTitulos);
    font-size: 1.8em;
    background-color: var(--colorMoradoNav);
    border-color: var(--colorMoradoNav);
    border-radius: 3px;
    width: 10em;
    height: 2em;
    color: black;
    padding-top: 6px;
}
.boton{

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.final img{

    width: 200px;
    height: 200px;
}



.final{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;

}

.finalim{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 20px;
}


.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container2 img{

    width: 200px;
    height: 300px;
}
