
.navDiv{
    /* position: fixed; */
    z-index: 10;
    padding: 0%;
    margin: 0;
    width: 100%;
}

.navAttar{
    background-color: var(--colorMoradoNav);
    height: 8em;
}


#navbarNav{
    z-index: 8;
    font: var(--textNav);
    background-color: var(--colorMoradoNav);

}


.navAttar_list .nav-link{
    font: var(--textNav);
    text-transform: uppercase;
    margin: 1em 0;
    

}

.navAttar_listDes{
    font: var(--textNavs);
    color: #000;
    font-size: 1.8em;
    /* padding: 1em; */
    margin: 1em 0;
}


.navAttar__icon{
    padding: 0;
    margin: 0;
    width: 2.5em;
}


.navAttar_list li:hover{
    background-color: var(--colorMoradoNavHover);
    border-radius: 1em;
    padding-left: 2em;
}

.navbar-toggler-icon{
    width: 3.5rem;
    height: 3.5rem;
}

#navbarNav .dropdown-menu .dropdown-item{
    padding: 1em;
    margin: 0;
}

.dropdown-item:focus, .dropdown-item:hover{
    background-color: var(--colorMoradoNav);
} 



/* ------- */
.navBarUsuarioLista ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
    margin: 0;
    margin-right: 1em;
    padding: 0;

}

.navBar-item a img{
    display: inline-block;
    margin: auto;
    width: 4em;
}

.navBarUsuarioContador{
    font-size: 1.5em;
}