body{

    background-color: #FAF4F4;
    padding: 0;
    margin: 0;
}


/*cuadro nosotros y descripción*/
#fondo{
    position: relative;
    display: inline-block;
    left: 1%;
    top: 0; 
    width: 95vw;
}
#fondo img{
    width: 95vw;
    height: 50em;
    opacity: 50%;
}

.titulo{
    position: absolute;
    top: 1em;
    left: 40%;
    font: var(--textTitulos);
    animation-name: movimiento;
    animation-duration: 5s;
}

.tituloDes{
    position: absolute;
    top: 12em;
    left: 8%;
    width: 50em;
    font: var(--textTituloDes);
    text-align: center;
    animation-name: movimiento;
    animation-duration: 5s;
}


@keyframes movimiento{
    0%{
        transform: translatey(-100px);
    }
    50%{
        transform: translatey(10px);      
    }
    70%{
        transform: translatey(15px);      
    }
    100%{
        transform: translatey(5px);
    }
}



/*Mision y vison*/
.elemento{
    display: flex;
    flex-direction: row;
    height: 40em;
    animation-name: movimientoLado;
    animation-duration: 5s;
}

.elementoImagen img{
    width: auto;
    height: 40em;
    margin: 2em 8em;
}

.elementoTexto h1{
    font: var(--textDescripcionT);
    text-align: center;
    margin: 1em 0;
}

.elementoTexto p{
    font: var(--textTituloDes);
    text-align: center;
}

.elementoTexto_top{
    border-top: 1em solid var(--colorMoradoFoo);
}

.elemento_rev{
    flex-direction: row-reverse;
}


@keyframes movimientoLado{
    0%{
        transform: translatex(-100px);
    }
    50%{
        transform: translatex(10px);      
    }
    70%{
        transform: translatex(15px);      
    }
    100%{
        transform: translatex(5px);
    }
}


/*Presentación*/
.presentación{
    border-top: 1em solid var(--colorMoradoFoo);
    border-bottom: 1em solid var(--colorMoradoFoo);
    margin: 0;
}
.presentación p{
    font: var(--textTituloDes);
    text-align: center;
    margin: 3em 0;
}

/*contenedor primera fila de fotos*/
.container{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 40px;
    gap: 16px;
    text-align: center;
    animation-name: movimientoLado;
    animation-duration: 5s;
}
/*contenedor segunda fila de fotos*/
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1px;
    gap: 16px;
    text-align: center;
    margin-bottom: 3em;
    animation-name: movimientoLadoD;
    animation-duration: 5s;
}

/* nombres */
.container h5 a, .contenedor h5 a{
    text-align: center;
    font: var(--textTituloDes);
}

.card img{
    margin: 10px;
    width: 220px;
    height: 300px;
}



@keyframes movimientoLadoD{
    0%{
        transform: translatex(500px);
    }
    50%{
        transform: translatex(100px);      
    }
    70%{
        transform: translatex(40px);      
    }
    100%{
        transform: translatex(5px);
    }
}

