body{

     background-color: #FAF4F4;
     
 }

 /*---------------------------------------------------------------
 ||  tarjeta 
  -----------------------------------------------------------------*/

.contenedorvistaproducto{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;

}

.vistaproducto{
    background-color:#e1d0ff;
    border-color:#e1d0ff;
}
.vistaproductoimg img{

    border-radius: 60%; 
    width: 200px;
    height: 250px;
    margin: 10px;
}

.cardvistaproducto{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    padding-left: 80px;
    padding-top: 50px;
    margin-top: 10px;
}

.cardvistaproducto h4{

    font-size: 20px;
}

#preciovistaProducto{

    font-size: 20px;
}

.btn-vistaproducto{
    
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}
/*---------------------------------------------------------------
 ||  otros productos   
  -----------------------------------------------------------------*/

.promovistaproducto h5{

    padding-top: 30px;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Petemoss', cursive;
    color: transparent;
    background: linear-gradient(to left, #ff5bf9, #7B68EE, #a47fcd, #08c0ff, #ff5bf9);    
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    animation: color 3s linear infinite;
    background-size: 500%;
}

@keyframes color {
    from {
        background-position: 0% 50%;
    }

    to {
        background-position: 100% 50%;
    }
} 
/*---------------------------------------------------------------
 ||  imagenes circulares     
  -----------------------------------------------------------------*/

  .otrosproductos{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .otrosproductos img{
    width: 140px;
    height: 170px;
  }

  .productosotros{    
    display: flex;
    align-items: center;
    justify-content: center;
}


/*---------------------------------------------------------------
 ||  modeloResponsivo        
  -----------------------------------------------------------------*/

  @media only screen and (max-width: 480px) { 
    .vistaproductoimg{

        text-align: center;
    }

    .cardvistaproducto{
        display: flex;
        justify-content: center;
        align-items:flex-start;
        flex-direction: column;
        padding-top: 10px;
        margin-top: 10px;
        margin-left: -60px;
    }

    .promovistaproducto h5{

        text-align: center;
        padding-top: 15px;
        font-size: 30px;
    }

    .otrosproductos{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .productosotros{    
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cardvistaproducto{
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
        padding-top: 10px;
        margin-top: 10px;
        margin-left: -60px;
    }
  }


@media only screen and (min-width: 768px) and (max-height: 1024px)  {

    .otrosproductos{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 2px;
      }
    
      .otrosproductos img{
        width: 96px;
        height: 124px;
      } 
}


 @media only screen and (width: 540px) and (height: 720px)  {

    .otrosproductos{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2px;
      }
    
      .otrosproductos img{
        width: 230px;
        height: 260px;
      } 

      .promovistaproducto h5{
        font-size: 50px;       
    }

    .vistaproductoimg{

        padding-top: 10px;
        text-align: center;
    }

    .cardvistaproducto{
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
        padding-top: 10px;
        margin-top: 10px;
        margin-left: -60px;
    }

    .cardvistaproducto h4{
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
        /* padding-top: 10px;
        margin-top: 10px;
        margin-left: -60px; */
    }
    .btn-vistaproducto{
        display: flex;
        justify-content: center;
        align-items:center;
    }    
}
