footer{
    background-color: #867FB3;
}

#nonePoint{
    list-style-type: none;
}

/* .foot{
    
} */

.links{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.menuItem a {
    
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px 8px;
    text-decoration: none;
    width: 50px;
    height: 20px;
    border-radius: 7px;
    font-size: 20px;
}

.menuItem{
    border-top: 40px;
    border-bottom: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.menuItem a:hover{
    background-color: #928bc0;
    color: black;
    font-size: 22px; 
}