.logo{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img{
    display: flex;
    justify-content: center;
}
.img-logo{
    width: 80px;
}
.btn-social{
    padding: 10px;
    width: 50px;
}
.social{
    padding-top: 50px;
    padding-bottom: 10px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
}
.button-bar{
    background: white;
    width: 150px;
    height: 5px;
    border: white;
}
.lineWhite{
    display: flex;
    justify-content: center;
}
.thanks{
    display: flex;
    justify-content: center;
    align-items: center;
}