<<<<<<< HEAD
#nonePoint{
    list-style-type: none;
} /*id que refiere a los links*/

.foot{
    background-color: #867FB3;
}/*referencia a la clase en el section*/

.links{
    display: block;
}/*todos los links*/

.button-social{
    background: white;
=======
footer{
    background-color: rgba(90, 201, 205, 0.582);
    
}
.img-logo{
    justify-content: center;
    width: 150px;
}
.btn-social{
>>>>>>> 9077d58b845ffb7afa20dd1e4ae0f530498d95f3
    padding: 10px;
    width: 50px;
}
.social{
    padding-top: 50px;
    padding-bottom: 10px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
}
.button-bar{
    background: white;
    width: 150px;
    height: 5px;
    border: white;
}
.lineWhite{
    justify-content: center;
}
